@media screen and (max-width: 700px) {

    
    .nav_img {
        width: 20%;
        margin-left: 100px;
    }

    .main_search{
        flex-direction: column;
        width: 348px;
    }

    .main_text{
        font-size: 60px;
        width: 348px;
    }

    .main_para1{
        font-size: 17px;
        width: 348px;
    }

    .main_para2{
        font-size: 15px;
        width: 348px;
    }

    .main_bts{
        padding: 14px 8px;
        margin-top: 10px;
        font-size: 20px;
    }

    .footer_searchbox{
        width: 90%;
    }
    
    .footer_search{
        flex-direction: column;
        width: 100%;
    }
    


  }